body {
  background-color: #D6A184;
}

.bannerDiv {
  width: 100%;
  height: auto;
  background-color: #D6A184;
  margin-bottom: -5px;
}

.navbar {
  background-color: #26C4EC;
  font-family: 'Acme', sans-serif;
}

.avatar {
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto }
}

#navbarSecond {
  text-align: right;
}

#submitForm {
  background-color: #26C4EC;
  border : none;
}




/* Bleu foncé : #124559
noir : #01161E
beige : #D6A184
praline : #EFF6E0
bleu clair : #598392 */
