body {
  background-color: #06222C;
}

.avatar {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #0272BC;
  font-family: 'Acme', sans-serif;
}

#navbarSecond {
  text-align: right;
}

#submitForm {
  background-color: #26C4EC;
  border: none;
}

.btnModalsAcceuil {
  background-color: #0272BC;
}

.welcomeMessage {
  border: #01161E 1px solid;
  font-family: 'Acme', sans-serif;
  line-height: 1rem;
  background-color: #EFF6E0;
}

#serieMoment {
  border: #01161E 1px solid;
  font-family: 'Acme', sans-serif;
  text-shadow: 1px 1px 1px black;
  line-height: 1rem;
  background-color: #EFF6E0;
}

#footer {
  border-top: #01161E 1px solid;
  font-family: 'Acme', sans-serif;
  background-color: #0272BC;
}

#socialMedia {
  border-bottom: #01161E 1px solid;
}

.carouselIconMoment {
  color: #124559;
}

.titleSerieMoment {
  color: #01161E;
}

.modalSerieMoment {
  background-color: #01161E;
}

.descritpionSerieMoment {
  font-size: 15px;
}

.hrFooter {
  width: 60px;
}

.footerLink {
  color: #d5f5ff;
}

.textSeriePage {
  border: #01161E 1px solid;
  font-family: 'Acme', sans-serif;
  background-color: #EFF6E0;
}

ol {
list-style: none;
}

.mentionsLegals {
    font-family: 'Acme', sans-serif;
    color: #EFF6E0;
}

.formSignUp {
    font-family: 'Acme', sans-serif;
    color: #EFF6E0;
}

/* Bleu foncé : #124559
noir : #01161E
fond bleu clair : #d5f5ff
praline : #EFF6E0
bleu clair : #25C4EC */
