body {
    background-color: #06222C;
    /* couleur de fond du body */
    font-family: 'Acme', sans-serif;
    /* police d'écriture du site */
}

.avatarBanner {
    width: 100%;
    /* taille de la bannière */
}

#slideImage1 {
    background: url(../images/imgAccueil/meilleure-serie.png) center repeat fixed;
    /* image et paramètre pour le paralaxe */
}

.navbar {
    background: linear-gradient(0deg, rgba(0, 114, 188, .8), rgba(6, 34, 44, .8) 70.71%);
    /* Couleur et paramètre de la navbar */
}

#navbarSecond {
    text-align: right;
    /* alignement du text pour la seconde partie de la navbar */
}

.welcomeMessage {
    border: #01161E 1px solid;
    /* couleur des bordures du message de bienvenu*/
    line-height: 1rem;
    /* Espacement entre les lignes du message */
    background-color: #EFF6E0;
    /* couleur de fond du message */
}

.card-text {
    height: 5rem;
    /* Taille pour le texte dans les cards*/
}

.spStyleButton {
    background-image: linear-gradient(0deg, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
    /* couleur de fond de mes bouttons */
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    /* ombre de mes bouttons */
}

.cardArticle {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    /* ombre des cartes pour les articles */
    background: linear-gradient(0deg, rgba(0, 114, 188, .8), rgba(6, 34, 44, .8) 70.71%);
    /* fond des cartes pour les articles*/
    color: #EFF6E0;
    /* couleur de l'écriture pour les articles */
}

#serieMoment,
/* id du caroussel */
#lastArticles,
/* id des derniers articles */
#allSeries,
/* id de toutes les séries */
#allArticles,
/* id de tout les articles*/
#articleForSerie {
    /* id articles pour la séries*/
    border: #01161E 1px solid;
    /* bordure pour plusieurs id*/
    text-shadow: 1px 1px 1px black;
    /* ombre texte pour plusieurs id*/
    line-height: 1rem;
    /* Espace entre les lignes pour plusieurs id */
    background-color: #EFF6E0;
    /* couleur de fond pour plusieurs id */
}

#favoriteMoment {
    border: #01161E 1px solid;
    /* bordur pour la série du moment*/
    text-shadow: 1px 1px 1px black;
    /* ombre pour le texte de la série du moment */
    line-height: 1rem;
    /* espace entre les lignes */
    background-color: #EFF6E0;
    /* couleur de fond */
    border-radius: 3%;
    /* arrondit des bords */
}

.imgMomentAccueil {
    width: 12rem;
    /* largeur de l'image du caroussel */
    height: 18rem;
    /* hauteur de l'image du caroussel */
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    /* ombre de l'image r*/
    border-radius: 5%;
    /* arrondit des bords */
    cursor: pointer;
    /* changement de cursor au passage de la souris */
    color: #EFF6E0;
    /* couleur du texte */
}

.carouselIconMoment {
    color: #124559;
    /* couleur des icons */
}

.colorFontBlue {
    color: #01161E;
    /* couleur de l'écriture bleu*/
}

a {
    text-decoration: none;
    /* style de mes balises a */
    color: white;
    /* couleur de mes balises a */
}

.modalSerieMoment {
    background-color:
        /* couleur de fond des modal */
}

.descritpionSerieMoment {
    font-size: 15px;
    /* taille de la police du caroussel */
}

#footer {
    border-top: #01161E 1px solid;
    /* bordur en haut du footer */
    text-shadow: 1px 1px 1px black;
    /* ombre du texte du footer */
    background-color: #0272BC;
    /* couleur de fond du footer */
    color: #EFF6E0;
    /* couleur de la police du footer */
}

#socialMedia {
    border-bottom: #01161E 1px solid;
    /* bordure en bas des réseaux sociaux */
}

.hrFooter {
    width: 60px;
    /* taille des hr du footer */
}

ol {
    list-style: none;
    /* style de mes balises ol */
}

.mentionsLegals {
    color: #EFF6E0;
    /* couleur des mentions légals */
}

.formSignUp,
/* classe pour mon formulaire signUp */
#cardmyAccount,
/* carte pour mon compte */
.formSignIn {
    /* classe pour mon formulaire signIn */
    color: #EFF6E0;
    /* couleur des classes et id */
}

.rating {
    width: 226px;
    /* largeur du vote */
    margin: 0 auto 10px;
    /* marge du vote */
    font-size: 45px;
    /* taille du vote */
    overflow: hidden;
    /* je cache le surplus */
}

.rating a {
    float: right;
    /* je les aligne à droit */
    color: #aaa;
    /* couelur des votes */
    text-decoration: none;
    /* style des vote */
    -webkit-transition: color .4s;
    /* transition des votes */
    -moz-transition: color .4s;
    /* transition des votes */
    -o-transition: color .4s;
    /* transition des votes */
    transition: color .4s;
    /* transition des votes */
}

.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    /* couleur des votes au passage */
    cursor: pointer;
    /* style du curseur au passage */
}

.rating2 {
    direction: rtl;
    /* direction du vote */
}

.rating2 a {
    float: none
        /* je remet le flot à 0
     */
}

.clear {
    clear: both;  /* je clear tout */
}


.slide-toggle {
    display: none;  /* disposition */
}

.slidemenu {
    font-family: arial, sans-serif;  /* écriture du menu  */
    max-width: 600px;  /* taille maximum */
    margin: 50px auto;  /* margin  */
    overflow: hidden;  /* surplus cacher */
}

.slidemenu label {
    width: 25%;  /* largeur 25% */
    text-align: center;  /* je centre tout */
    display: block;  /* pas de retour à la ligne */
    float: left;  /* aligne tout à gauche */
    color: #EFF6E0;  /* couleur des items et texte */
    opacity: 0.2;  /* opacité */

}

.slidemenu label:hover {
    cursor: pointer;  /* changement de cursor au survol */
    color: #EFF6E0;  /* couleur */
}

.slidemenu label span {
    display: block;  /* annule le retour à la ligne */
    padding: 10px;  /* ajoute un padding */
}

.slidemenu label .icon {
    font-size: 20px;  /* taille de la police */
    border: solid 2px #EFF6E0;  /* bordure */
    text-align: center;  /* centre tout */
    height: 50px;  /* hauteur */
    width: 50px;  /* largeur */
    display: block;  /* annule retour à la ligne */
    margin: 0 auto;  /* margin */
    line-height: 50px;  /* espace ligne */
    border-radius: 50%;  /* fait un rond */
}

.slider { 
    width: 100%;  /* largeur */
    height: 5px;  /* hauteur */
    display: block;  /* annule retour ligne */
    background: #ccc;  /* couleur de fond */
    margin-top: 10px;  /* margin en haut */
    border-radius: 5px;  /* arrondit bord */
}

.slider .bar {
    width: 25%;  /* largeur */
    height: 5px;  /* hauteur */
    background: #333;  /* couleur de fond */
    border-radius: 5px;  /* arrondit bordure */
}

.slidemenu label,
.slider .bar {
    transition: all 500ms ease-in-out;  /* animation de la barre */
    -webkit-transition: all 500ms ease-in-out; /* animation de la barre */
    -moz-transition: all 500ms ease-in-out; /* animation de la barre */
}

.slidemenu .slide-toggle:checked+label { 
    opacity: 1; /* opacité */
}

.slidemenu #slideItemPresentation:checked~.slider .bar {
    margin-left: 0; /* margin gauche présentation */
}

.slidemenu #slideItemSeasons:checked~.slider .bar {
    margin-left: 25%; /* margin gauche saisons */
}

.slidemenu #slideItemComment:checked~.slider .bar {
    margin-left: 50%; /* margin gauche commentaire */
}

.slidemenu #slideItemArticle:checked~.slider .bar {
    margin-left: 75%; /* margin gauche article */
}



.informationSeriesCard,
.seasonsSeriesCard,
.backgroundTheme {
    border: #01161E 1px solid; /* bordure */
    background-color: #EFF6E0; /* couleur de fond */
    border-radius: 10px; /* arrondit des bords */
}

#cardSignUp,
#cardSignIn,
.signUpText,
.signInText,
#cardmyAccount,
.labelTextFormSignUp,
.labelTextFormSignIn,
.formAddSeriesText,
#cardAddSeries {
    background-color: #EFF6E0; /* couleur de fond */
    color: #06222C; /* couleur écriture */
}

.flashImgAllSeries img {
    opacity: 1; /* opacité pour le flash */
    -webkit-transition: .3s ease-in-out; /* transition */
    transition: .3s ease-in-out; /* transition */
}

.flashImgAllSeries:hover img {
    opacity: .5; /* opacité quand on survole l'image */
    cursor: pointer; /* changement pointeur */
}

.imgAllSeriesPage {
    box-shadow: 8px 8px 12px #aaa; /* ombre */
    border-radius: 10px; /* arrondit bordure */
}


.textSeriePage {
    border: #01161E 1px solid; /* bordure */
    background-color: #EFF6E0; /* couleur de fond */

}

#seriesImagesInformation {
    height: 27rem; /* hauteur image info */
    width: 19rem; /* largeur image info */
    border-radius: 10px; /* arrondit bordure */
    box-shadow: 8px 8px 12px black; /* ombre */
}

@media screen and (max-width: 400px) { /* media pour réduire le captcha */
    .g-recaptcha {
        transform: scale(0.70);
        -webkit-transform: scale(0.70);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}


/* Bleu foncé : #124559
noir : #01161E
fond bleu clair : #d5f5ff
praline : #EFF6E0
bleu clair : #25C4EC */